* {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.4rem;
    text-align: center;
}

#messageContainer {
    margin-top: 10px;
    width: 40vw;
    height: 239px;
    background-color: #fff;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message{
    font-size: 2rem;
    line-height: 1.2;
}

#messageButton {
    margin-top: 20px;
    width: 200px;
    height: 55px;
    font-size: 20px;
}

@media only screen and (max-width: 704px) {
    #messageContainer {
        width: 50vw;
    }
    #message {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 600px) {
    #messageContainer {
        width: 60vw;
        height: 180px;
    }
    #message {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 460px) {
    #messageContainer {
        width: 70vw;
        height: 150px;
    }
    #message {
        font-size: 1.2rem;
    }
}
